
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}
.caixaNav{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 0 0 0 15px;
}
nav a:hover{
    color: rgb(187, 161, 16);
    text-decoration: underline;
}

#banner{
    width: 100%;
}

.tituloCentralizado{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}
p{
    text-align: center;
    font-size: 20px;
}
strong{
    font-weight: bold;
}
em b{
    color: red;
    font-style: italic;
}
.principal{
    background-color: #cccccc;
    padding: 30px;
    margin-top: 5px;
}

.beneficios{
    background: #FFF;
    padding: 20px;
}

.beneficios ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-style: italic;
}
.imagemBeneficios{
    width: 50%;
}

footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}
.copyright{
    margin-top: 20px;
    color: white;
    font-size: 13px;
}